table
  border-collapse collapse
  border-spacing 0
  th:not(:empty)
    background #e7e7e7
  td, th:not(:empty)
    border 1px solid #dedede
    a
      padding 5px 8px
  td ~ th:not(:empty)
    text-align left
    background #f4f4f4
    font-weight 500 
