.inflection
  sans-serif()
  font-size 13px
  padding: 10px;
  // color #494949
  b
    color black
  &.small
    card-shadow()
    background: #fdfdfd;
    border-radius: 3px;
    max-width: 270px;
    position: fixed;
    bottom: 10px;
    z-index: 100;
    right: 10px;
  table
    margin: 10px auto
    &.not-center
      margin-left initial
  hr
    margin: 7px 0;
  .gray
    // font-size 12px
    font-weight normal
    white-space nowrap
  .light-gray
    color #b0b0b0
    font-weight normal

  .main
    a:not(table a)
      &.plainlink
        text-decoration underline!important
      // border-bottom 1px solid rgba(#c8c8c8, 0.2)
  td.highlight
    background white
  h4
    margin: 0;
    line-height: 1;
    font-size: 17px;
    color black

  .indent:first-child
    dt
      padding-top 4px
  .indent
    dt
      font-size 15px
      font-weight 500
      padding-top 10px
      padding-bottom 5px
    dd
      border-left: 3px solid #ebe9e9;
      padding-left: 12px;
      // margin-left: 9px
      // padding-bottom 5px

  .license
    display none


hr
  margin 40px 20px
  border none
  border-bottom 1px solid #e6e6e6


.umlaut
  color #b00030
