.entry
  border 1px solid #d2d2d2
  padding 20px
  margin-bottom 20px
  border-radius 3px
  background rgba(255,255,255,0.8)
  font-size 14px
  line-height 16px
  // width 100%
  min-width 300px
  float left
  clear left

  /*    __    _      __
       / /   (_)____/ /______
      / /   / / ___/ __/ ___/
     / /___/ (__  ) /_(__  )
    /_____/_/____/\__/____/   */

  ul, ol
    padding 0
    margin 0
    list-style-type none

  for level in 1 .. 4
    ol[data-indent={'"'+level+'"'}]
      counter-reset s('level%s',level)
      > li
        counter-increment s('level%s',level)
        &:before
          content s('counter(level%s)',level)
      &.lower-latin > li:before
        content s('counter(level%s, lower-latin)',level)
      &.upper-latin > li:before
        content s('counter(level%s, upper-latin)',level)

  li, .sense
    position relative
    padding-left 20px
    &:before
      color $gray
      margin-left -@padding-left
      position absolute

  ul > li, .sense
    &:before
      content '\2022' // Bullet
      // content '\25E6' // White bullet


  /*    __  __               __
       / / / /__  ____ _____/ /
      / /_/ / _ \/ __ `/ __  /
     / __  /  __/ /_/ / /_/ /
    /_/ /_/\___/\__,_/\__,_/   */

  .orth
    font-size 18px
    font-style normal
    font-weight 600
    margin-bottom 10px
    display inline-block

  .gramgrp
    margin 0 7px
    font-size 12px
    .pos
      font-family: sans-serif
      color: #5b5b5b
      background-color: #eeeeee
      padding: 1px 5px
      border-radius: 2px

  .number
    font-size 20px
    color $gray


  /*    ____            __
       / __ )____  ____/ /_  __
      / __  / __ \/ __  / / / /
     / /_/ / /_/ / /_/ / /_/ /
    /_____/\____/\__,_/\__, /
                      /____/   */
  p
    padding-bottom 3px

  .punc
    margin-right 1px
    color $gray

  em
    font-weight bold
    font-style normal

  small
    font-size 13px
    color $gray
    font-weight 400

  .grammatical-category
    font-size 13px
    color #ea6924
  * + .grammatical-category
    margin-left 7px

  .expression
    font-weight 600
    &:after
      // content ':'
      font-weight normal
      margin-right 3px

  .classification
    font-weight 400
    color #888
    font-size 13px
  .classification-andheiti
    font-weight 400
    color #c9070a
    font-size 13px

  .undir-ord-med-skyringu
    font-size 15px

  .very-big---phrase
    font-weight 500
    font-size 16px

  .phrase---main
    font-weight 500

  .inflection
    font-style italic

  .category
    color $blue

  .forward-to-another-word
  .forward-to-another-word---andheiti
    color $blue
    font-size 12px
    &:before
      content '(→ '
    &:after
      content ')'
  .forward-to-another-word---andheiti
    color $red
    &:before
      content '(↝ ' // Sést í EN-IS: 'absolute'

  .word-that-includes
    color #5FA75E
    &:before
      content '→ '

  .expression
    background #ffedfa
    border 2px solid #c435b3
    padding 1px 3px
    border-radius 3px
  .proverb
    background #f2ffed
    border 2px solid #51c435
    padding 1px 3px
    border-radius 3px
  .referringto
    background #ffffed
    border 2px solid #d9bb3a
    padding 1px 3px
    border-radius 3px
