a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
textarea,
form,
input,
select {
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
q:after,
blockquote:before,
q:before {
  content: '';
  content: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
h1,
h2,
h3 {
  margin: 2px 0 13px;
}
b {
  font-weight: 700;
}
i {
  font-style: italic;
}
.hidden {
  display: none;
}
.entry {
  border: 1px solid #d2d2d2;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  background: rgba(255,255,255,0.8);
  font-size: 14px;
  line-height: 16px;
  min-width: 300px;
  float: left;
  clear: left;
/*    __    _      __
       / /   (_)____/ /______
      / /   / / ___/ __/ ___/
     / /___/ (__  ) /_(__  )
    /_____/_/____/\__/____/   */
/*    __  __               __
       / / / /__  ____ _____/ /
      / /_/ / _ \/ __ `/ __  /
     / __  /  __/ /_/ / /_/ /
    /_/ /_/\___/\__,_/\__,_/   */
/*    ____            __
       / __ )____  ____/ /_  __
      / __  / __ \/ __  / / / /
     / /_/ / /_/ / /_/ / /_/ /
    /_____/\____/\__,_/\__, /
                      /____/   */
}
.entry ul,
.entry ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.entry ol[data-indent="1"] {
  counter-reset: level1;
}
.entry ol[data-indent="1"] > li {
  counter-increment: level1;
}
.entry ol[data-indent="1"] > li:before {
  content: counter(level1);
}
.entry ol[data-indent="1"].lower-latin > li:before {
  content: counter(level1, lower-latin);
}
.entry ol[data-indent="1"].upper-latin > li:before {
  content: counter(level1, upper-latin);
}
.entry ol[data-indent="2"] {
  counter-reset: level2;
}
.entry ol[data-indent="2"] > li {
  counter-increment: level2;
}
.entry ol[data-indent="2"] > li:before {
  content: counter(level2);
}
.entry ol[data-indent="2"].lower-latin > li:before {
  content: counter(level2, lower-latin);
}
.entry ol[data-indent="2"].upper-latin > li:before {
  content: counter(level2, upper-latin);
}
.entry ol[data-indent="3"] {
  counter-reset: level3;
}
.entry ol[data-indent="3"] > li {
  counter-increment: level3;
}
.entry ol[data-indent="3"] > li:before {
  content: counter(level3);
}
.entry ol[data-indent="3"].lower-latin > li:before {
  content: counter(level3, lower-latin);
}
.entry ol[data-indent="3"].upper-latin > li:before {
  content: counter(level3, upper-latin);
}
.entry ol[data-indent="4"] {
  counter-reset: level4;
}
.entry ol[data-indent="4"] > li {
  counter-increment: level4;
}
.entry ol[data-indent="4"] > li:before {
  content: counter(level4);
}
.entry ol[data-indent="4"].lower-latin > li:before {
  content: counter(level4, lower-latin);
}
.entry ol[data-indent="4"].upper-latin > li:before {
  content: counter(level4, upper-latin);
}
.entry li,
.entry .sense {
  position: relative;
  padding-left: 20px;
}
.entry li:before,
.entry .sense:before {
  color: $gray;
  margin-left: -20px;
  position: absolute;
}
.entry ul > li:before,
.entry .sense:before {
  content: '\2022';
}
.entry .orth {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 10px;
  display: inline-block;
}
.entry .gramgrp {
  margin: 0 7px;
  font-size: 12px;
}
.entry .gramgrp .pos {
  font-family: sans-serif;
  color: #5b5b5b;
  background-color: #eee;
  padding: 1px 5px;
  border-radius: 2px;
}
.entry .number {
  font-size: 20px;
  color: $gray;
}
.entry p {
  padding-bottom: 3px;
}
.entry .punc {
  margin-right: 1px;
  color: $gray;
}
.entry em {
  font-weight: bold;
  font-style: normal;
}
.entry small {
  font-size: 13px;
  color: $gray;
  font-weight: 400;
}
.entry .grammatical-category {
  font-size: 13px;
  color: #ea6924;
}
.entry * + .grammatical-category {
  margin-left: 7px;
}
.entry .expression {
  font-weight: 600;
}
.entry .expression:after {
  font-weight: normal;
  margin-right: 3px;
}
.entry .classification {
  font-weight: 400;
  color: #888;
  font-size: 13px;
}
.entry .classification-andheiti {
  font-weight: 400;
  color: #c9070a;
  font-size: 13px;
}
.entry .undir-ord-med-skyringu {
  font-size: 15px;
}
.entry .very-big---phrase {
  font-weight: 500;
  font-size: 16px;
}
.entry .phrase---main {
  font-weight: 500;
}
.entry .inflection {
  font-style: italic;
}
.entry .category {
  color: $blue;
}
.entry .forward-to-another-word,
.entry .forward-to-another-word---andheiti {
  color: $blue;
  font-size: 12px;
}
.entry .forward-to-another-word:before,
.entry .forward-to-another-word---andheiti:before {
  content: '(→ ';
}
.entry .forward-to-another-word:after,
.entry .forward-to-another-word---andheiti:after {
  content: ')';
}
.entry .forward-to-another-word---andheiti {
  color: $red;
}
.entry .forward-to-another-word---andheiti:before {
  content: '(↝ ';
}
.entry .word-that-includes {
  color: #5fa75e;
}
.entry .word-that-includes:before {
  content: '→ ';
}
.entry .expression {
  background: #ffedfa;
  border: 2px solid #c435b3;
  padding: 1px 3px;
  border-radius: 3px;
}
.entry .proverb {
  background: #f2ffed;
  border: 2px solid #51c435;
  padding: 1px 3px;
  border-radius: 3px;
}
.entry .referringto {
  background: #ffffed;
  border: 2px solid #d9bb3a;
  padding: 1px 3px;
  border-radius: 3px;
}
.wrapper {
  min-height: 100vh;
}
.wrapper > div {
  max-width: 700px;
  min-width: 400px;
  padding: 0 50px 50px;
  margin: auto;
}
@media only screen and (max-width: 600px) {
  .wrapper > div {
    padding: 0;
  }
}
.center {
  padding: 40px 10px;
  margin: auto;
  flex: 1;
  max-width: 700px;
  min-width: 400px;
}
footer {
  max-width: 500px;
  margin: auto;
  color: #929292;
  font-size: 11px;
}
footer .license {
  margin-top: 2px;
  line-height: 1.7em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica Neue, Helvetica, Arial, sans-serif;
}
footer .license .license-link {
  font-size: 9px;
}
footer .license .info {
  background: #e6e6e6;
  border-radius: 30px;
  display: inline-block;
/* width: 18px; */
  line-height: 1.2;
  font-size: 10px;
  margin-left: 4px;
  padding: 1px 4px 2px 4px;
  letter-spacing: -0.3px;
}
footer .contact {
  margin-top: 7px;
  text-align: center;
  padding-top: 7px;
  border-top: 1px solid #e8e8e8;
}
footer .contact .name {
  font-family: serif;
  font-style: italic;
  font-size: 12px;
}
.inflection {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 13px;
  padding: 10px;
}
.inflection b {
  color: #000;
}
.inflection.small {
  background: #fdfdfd;
  border-radius: 3px;
  max-width: 270px;
  position: fixed;
  bottom: 10px;
  z-index: 100;
  right: 10px;
}
.inflection table {
  margin: 10px auto;
}
.inflection table.not-center {
  margin-left: initial;
}
.inflection hr {
  margin: 7px 0;
}
.inflection .gray {
  font-weight: normal;
  white-space: nowrap;
}
.inflection .light-gray {
  color: #b0b0b0;
  font-weight: normal;
}
.inflection .main a:not(table a).plainlink {
  text-decoration: underline !important;
}
.inflection td.highlight {
  background: #fff;
}
.inflection h4 {
  margin: 0;
  line-height: 1;
  font-size: 17px;
  color: #000;
}
.inflection .indent {
  margin-left: 20px;
}
.inflection .license {
  display: none;
}
hr {
  margin: 40px 20px;
  border: none;
  border-bottom: 1px solid #e6e6e6;
}
table.table {
  border-spacing: 0;
  margin: auto;
  margin-bottom: 10px;
  margin-right: 10px;
  text-align: center;
  line-height: 1.3;
  margin: auto;
  font-size: 14px;
  font-family: Helvetica Neue;
/* INFLECTION TABLES */
/* Tables aligned on helper words */
}
table.table th {
  text-align: center;
  padding: 3px 10px;
}
table.table th label {
  font-size: 12px;
  font-weight: normal;
}
table.table th label b {
  font-weight: 500;
  text-align: left;
  padding: 0;
}
table.table th:not(:empty):not(.checkbox) {
  background: #e7e7e7;
}
table.table td {
  background: #f2f2f2;
  background: #f6f6f6;
  color: #323232;
  padding: 7px 12px;
  min-width: 80px;
}
table.table td.main {
  position: relative;
  box-shadow: 0 0 0 3px #1e8ed5, inset 0 0 0 1px #1e8ed5;
  border: none !important;
  background: #fff;
  top: 1px;
  left: 1px;
  z-index: 100;
  border-radius: 3px;
  font-size: 19px;
  font-weight: 500;
  padding: 10px 22px;
  color: #000;
}
table.table small {
  font-size: inherit;
  font-weight: 400;
  color: #525252;
  padding-right: 1px;
}
table.table + h3 {
  clear: left;
  padding-top: 20px;
}
table.table + hr {
  clear: left;
}
table.table td,
table.table th:not(:empty) {
  border-top: 1px solid #dedede;
  border-left: 1px solid #dedede;
}
table.table td:last-child,
table.table th:not(:empty):last-child {
  border-right: 1px solid #dedede;
}
table.table td.first-top,
table.table th:not(:empty).first-top {
  border-top: 1px solid #dedede;
  border-top-left-radius: 3px;
}
table.table td.first-left,
table.table th:not(:empty).first-left {
  border-left: 1px solid #dedede;
  border-top-left-radius: 3px;
}
table.table tbody tr:first-child th:not(:empty):first-child,
table.table tbody tr:first-child td:not(:empty):first-child {
  border-top-left-radius: 3px;
}
table.table tbody tr:first-child th:not(:empty):last-child,
table.table tbody tr:first-child td:not(:empty):last-child {
  border-top-right-radius: 3px;
}
table.table tbody:last-child tr:last-child th:not(:empty),
table.table tbody:last-child tr:last-child td:not(:empty) {
  border-bottom: 1px solid #dedede;
}
table.table tbody:last-child tr:last-child th:not(:empty):first-child,
table.table tbody:last-child tr:last-child td:not(:empty):first-child {
  border-bottom-left-radius: 3px;
}
table.table tbody:last-child tr:last-child th:not(:empty):last-child,
table.table tbody:last-child tr:last-child td:not(:empty):last-child {
  border-bottom-right-radius: 3px;
}
table.table .helper {
  font-size: 12px;
  color: #5b5b5b;
  font-weight: normal;
}
table.table ul {
  text-align: left;
}
table.table td.right {
  text-align: right;
  min-width: 0;
  border-right: none;
  padding-right: 2px;
}
table.table td.left {
  text-align: left;
  min-width: 0;
  border-left: none;
  padding-left: 3px;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: #f9f9f9;
}
.hidden {
  display: none;
}
* {
  box-sizing: border-box;
}
a:not(:hover) {
  text-decoration: none;
}
html {
  width: 100%;
  background: #fcfcfc;
}
body {
  font-size: 16px;
  line-height: 1.3em;
  color: #131313;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 35px;
  padding-bottom: 10px;
  min-height: 100vh;
}
body > main {
  flex: 1;
}
h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}
/* _______ _ _   _
  |__   __(_) | | |
     | |   _| |_| | ___
     | |  | | __| |/ _      | |  | | |_| |  __/
     |_|  |_|\__|_|\___|   */
h1 {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.1em;
  text-align: center;
  color: #000;
  display: block;
  margin-top: 23px;
  margin-bottom: 30px;
  font-family: $serif;
}
h1 a {
  color: #266bcf;
}
/*   _____                     _        _
    / ____|                   | |      | |
   | (___   ___  __ _ _ __ ___| |__    | |__   _____  __
    \___ \ / _ \/ _` | '__/ __| '_ \   | '_ \ / _ \ \/ /
    ____) |  __/ (_| | | | (__| | | |  | |_) | (_) >  <
   |_____/ \___|\__,_|_|  \___|_| |_|  |_.__/ \___/_/\_\    */
input[type="search"] {
  font-size: 18px;
  outline: none;
  border: 1px solid #c2c2c2;
  box-shadow: inset 0px 0px 1px 0 #f2f2f2, inset 0px 1px 0px 0 #f6f6f6;
  -webkit-appearance: none;
  padding: 10px;
  border-radius: 1px;
  width: 100%;
  max-width: 420px;
  display: block;
  margin: 30px auto 50px auto;
}
input[type="search"]:focus {
  border: 3px solid #266bcf;
  padding: 8px;
  border-radius: 2px;
}
/*  _____            _        _
   / ____|          | |      (_)
  | |     ___  _ __ | |_ __ _ _ _ __   ___ _ __
  | |    / _ \| '_ \| __/ _` | | '_ \ / _ \ '__|
  | |___| (_) | | | | || (_| | | | | |  __/ |
   \_____\___/|_| |_|\__\__,_|_|_| |_|\___|_|   */
main {
  max-width: 650px;
  margin: auto;
  min-width: calc(min(100vw, 500px));
}
main a {
  color: #000;
}
main a:hover {
  color: #266bcf;
  text-decoration: underline;
}
/*  ______          _
   |  ____|        | |
   | |__ ___   ___ | |_ ___ _ __
   |  __/ _ \ / _ \| __/ _ \ '__|
   | | | (_) | (_) | ||  __/ |
   |_|  \___/ \___/ \__\___|_|   */
footer {
  margin-top: 100px;
}
footer a {
  color: #266bcf;
}
.gray {
  color: #7d7d7d;
}
a.gray:not(:hover) {
  color: #7d7d7d;
}
a.gray:hover {
  color: #266bcf;
}
.did-you-mean {
  font-size: 14px;
  margin: 21px 0 8px 0;
  font-weight: normal;
}

